body, html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  color: #222;
}
.carousel-inner {
  height: 15vh;
}
.carousel-inner img {
 transform:translateY(-50%);
 height: 100%;
 width: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform:translateY(-100%);
  text-shadow: 1px 1px 10px black;
}
